# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bW9yYWwtY2hpbXAtMTAuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_9EABzOLo9xas7fwoFfdqcrPOoaQ1CbCjuZs5H3dmRq
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/onboarding

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://sjvejxeuwemxefscjkva.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqdmVqeGV1d2VteGVmc2Nqa3ZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcxNjkwMDEsImV4cCI6MjA3Mjc0NTAwMX0.0iFiQ5SQ9cnHkevI414xfehnvNFwE5-z9Nr4FAFIeV4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqdmVqeGV1d2VteGVmc2Nqa3ZhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NzE2OTAwMSwiZXhwIjoyMDcyNzQ1MDAxfQ.fmc2Pqx5FG_DEGY6mrP12GUJQiFgGFgez7vGqRLNK6s

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000

